// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navigation>a {
    text-decoration: none;
}

.mr-15 {
    margin-right: 15px;
}

.mt-30 {
    margin-top: 30px;
}

.animatedimgGroup .Polaris-RadioButton__Backdrop {
    display: none;
}

.animatedimgGroup .Polaris-Choice__Control {
    height: auto;
}

.animatedimgGroup .Polaris-RadioButton__Input+.Polaris-Choice__swatch_img img {
    border: 2px solid #eee;
    border-radius: 15px;
}

.animatedimgGroup .Polaris-RadioButton__Input:checked+.Polaris-Choice__swatch_img img {
    border: 2px solid #000;
}

.theme-set-radiobutton-img {
    max-height: 250px;
    width: auto;
    margin-top: 10px;
    margin-bottom: 30px;
}

.builder-status {
    display: inline-flex;
    align-items: center;
    padding: 4px 0.8rem;
    background-color: var(--p-surface-neutral, #dfe3e8);
    border: 0.2rem solid var(--p-surface, white);
    border-radius: 2rem;
    font-size: 1.3rem;
    line-height: 2rem;
}

.active {
    background-color: var(--p-surface-success, #bbe5b3);
    color: var(--p-text, #414f3e);
}

.inactive {
    background-color: var(--p-surface-warning, #ffc58b);
    color: var(--p-text, #594430);
}

.action_btns button {
    padding: 0px 0;
    border: none;
    box-shadow: none;
}

.resource_img img {
    width: 50px;
}

.resource_title {
    white-space: break-spaces !important;
}

.color-box {
    width: 65px;
    height: 65px;
}

.remove-color {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 1222;
    font-size: 30px;
    cursor: pointer;
    color: white;
    background: rgba(0, 0, 0, 0.4);
}

.color-box:hover .remove-color {
    align-items: center;
    display: flex;
    justify-content: center;
}

.asset__Preview-Box {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid silver;
    padding: 15px 0;
}

.tox-notifications-container {
    display: none !important;
}

.custom-card-heading {
    background: #E5EFFD;
    border-radius: 8px 8px 0px 0px;
    padding: 2rem 2rem !important;
}

.custom-border-card {
    border-radius: 8px;
    background: #FFFFFF;

    .Polaris-Card {
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
        box-shadow: inset 0px -1px 0px #E1E3E5 !important;
    }

}

.center-buttons {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    max-width: 25%;
    margin: auto;
}

// DEFAULT CSS START
.list-unstyled {
    list-style: unset;
    padding-left: 0;
}

.list-unstyled>li::marker {
    font-size: 0;
}

.search_box {

    display: flex;
    justify-content: space-between;

    .serchIcon {
        display: flex;
        position: relative;
        width: 100% !important;

        svg {
            position: absolute;
            top: 9px;
            left: 7px;
            content: '';
            width: 2%;
            z-index: 99;
        }
    }

    input {
        padding-left: 30px !important;
    }
}

.inputSerch {
    width: 80% !important;
}

.w-98 {
    width: 98% !important;
}

// DEFAULT CSS END

// ACCRODIAN CSS START
.builder_settings_accrodian>ul>li:not(:last-child) {
    margin-bottom: 20px;
}

.builder_settings_accrodian {
    transition: all 0.5s;

    ul {
        li.builder_settings_accrodian_list {
            background-color: #E5EFFD;
            box-shadow: 0px 0px 2px #00000033, 0px 2px 10px #0000001a;
            border-radius: 8px;

            .builder_settings_accrodian_title {
                padding: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .accrodian_caret {
                    img {
                        transform: rotate(180deg);
                    }
                }
            }

            .builder_settings_accrodian_content {
                padding: 30px 20px;
                background-color: #FFFFFF;
                border-radius: 0 0 8px 8px;
                display: none;
            }

            &.accrodian_active {
                .builder_settings_accrodian_title {
                    .accrodian_caret {
                        img {
                            transform: unset;
                        }
                    }
                }

                .builder_settings_accrodian_content {
                    display: block;
                }
            }
        }
    }
}

// card
.mainCard {
    display: flex;
    margin: 60px 0;
    justify-content: space-between;

    .builderCard {
        width: 384px;
        height: 268px;
        border-radius: 8px;
        background-color: #ffffff !important;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.25) !important;
        display: flex;
        align-items: center;

        &:first-child {
            margin: 0 60px !important;
        }

        .cardImg {
            margin-left: -15%;
        }

        .cardDetail {
            padding: 24px !important;

            h4 {
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
            }

            .subText {
                margin: 10px 0;
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
            }

            p {
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 30px;
            }
        }
    }

    .Polaris-Tag {
        background: #A4E8F2;
        border-radius: 10px;
        margin-left: 16px;
    }
}

.d-flex {
    display: flex !important;
}

.pTitle {
    margin-top: 32px;

    h2 {
        font-weight: 600;
        font-size: 28px;
        line-height: 32px;
    }

    p {
        margin-top: 10px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }
}

.justify-content {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.btnRotate {
    transform: rotate(180deg) !important;
}

// ACCRODIAN CSS END

.firstCapital::first-letter {
    text-transform: uppercase;
}

.activeGif {
    border: 2px solid black !important;
    border-radius: 10px !important;
}

.deleteAction {
    color: red;

    svg {
        fill: red !important;
    }
}

.text-center {
    text-align: center !important;
}

.supportContainer {
    padding: 20px;
}

.supportItem {
    padding: 20px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
}

.force-radius-8 {
    .Polaris-Banner {
        border-radius: 8px !important;
    }
}

.Polaris-Modal-Dialog__Container {
    justify-content: center !important;
    left: unset !important;

    .Polaris-Modal-Dialog__Modal {
        // max-width: 80rem !important;
        border-radius: 0% !important;
        max-height: unset !important;
        height: 100vh !important;
    }

    .Polaris-Modal-Header {
        background: #E5EFFD !important;
    }

    .Polaris-Stack>.Polaris-Stack__Item {
        display: block !important;
        margin: auto !important;
        margin-top: 1.6rem !important;
    }

    .Polaris-Stack__Item--fill {
        flex: 0 0 auto !important;
    }
}

.discountActions {
    max-width: 33%;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
}

.box-shadow-tr {
    box-shadow: inset 0px -1px 0px #E1E3E5 !important;
}

.last-tr {
    background: #FAFBFB !important;
    box-shadow: 0px 1px 0px #e4e5e7 !important;
    border-radius: 0px !important;
}

.stepsActions {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-around !important;
    width: 50% !important;
    margin-left: auto !important;
}

.text-right {
    text-align: right !important;
}

.stepActionHeading {
    max-width: 30%;
    margin-left: auto;
}

.pr-0 {
    padding-right: 0 !important;
}

.card-wrapper-radius {
    .Polaris-Card {
        border-radius: 0 0 0.8rem 0.8rem !important;
    }
}

.tab-radius {
    .Polaris-Tabs__Wrapper {
        background-color: #fff;
        border-radius: 0.8rem 0.8rem 0 0;
    }
}
.mt-20{
    margin-top: 20px;
}
.tab-radius.buid_tab{
    .Polaris-Tabs__Wrapper{
        .Polaris-Tabs{
            width: 100%;
            .Polaris-Tabs__TabContainer{
                width: 24% !important;
            }
        }
    }
}
.breadcrumb{
    // padding: 30px;
    margin-bottom: 0;
    li{
        text-decoration: none !important;
        a{
            font-weight: 400;
            font-size: 12px;
            color: #5C5F62;
            text-decoration: none !important;
        }
        a.active{
            color: #347C84;
            font-size: 14px;
            background: none;
        }
    }
    .Polaris-Icon{
        max-height: unset;
        max-width: unset;
        margin: 0 10px;
    }
}
.main_card_sec{
    // .Polaris-Card__Section{
    //     padding: 0 !important;
    // }
    .form_custom{
        h2.Polaris-Heading {
            padding: 20px;
            background: #E5EFFD;
            border-radius: 8px 8px 0px 0px;
            font-weight: 600;
            font-size: 16px;
        }
        .builder_settings_accrodian_content{
            margin-top: 20px;
        }
        
        .Polaris-FormLayout{
            box-shadow: 0px 0px 2px rgb(0 0 0 / 20%), 0px 2px 10px rgb(0 0 0 / 10%);
            border-radius: 8px;
            margin: 30px;
            margin-top: 0;
        }
        
    }
}
.form_custom .Polaris-FormLayout--grouped .Polaris-FormLayout__Item{
    margin-top: 0;
    width: 47%;
    min-width:auto !important;
    flex: unset !important;
    margin-bottom: 20px;
}
.form_custom .builder_settings_accrodian_content {
    padding: 20px !important;
}
.form_custom .Polaris-FormLayout--grouped{
    margin-top: 20px;
}
.form_custom div.Polaris-FormLayout__Item:empty{
    display: none !important;
}
.form_custom .builder_settings_accrodian_content .Polaris-Card__Section{
    box-shadow: inset 0px 1px 0px #e1e3e5, inset 0px -1px 0px #e1e3e5;
    margin-bottom: 30px;
}
.form_custom .builder_settings_accrodian_content .Polaris-FormLayout--grouped .Polaris-FormLayout__Item{
    margin-bottom: 0;
}
.form_custom .builder_settings_accrodian_content .Polaris-Banner--withinContentContainer{
    margin: 20px 0;
}
.form_custom .builder_settings_accrodian_content .Polaris-Tabs__Wrapper{
    padding: 0;
    margin-bottom: 20px;
}
.form_custom .builder_settings_accrodian_content .Polaris-Tabs__Wrapper .Polaris-Tabs__TabContainer{
    width: 49%;
}
.form_custom .builder_settings_accrodian_content .Polaris-Tabs__Wrapper .Polaris-Tabs__TabContainer .Polaris-Tabs__Tab{
    padding: 0;
}
.form_custom .builder_settings_accrodian_content .Polaris-Tabs__Wrapper .Polaris-Tabs{
    justify-content: space-between;
}
.form_custom .builder_settings_accrodian_content .Polaris-Tabs__Wrapper .Polaris-Tabs__TabContainer .Polaris-Tabs__Title::before{
    bottom: 0;
}
.form_custom .builder_settings_accrodian_content .Polaris-Tabs__Panel .Polaris-Button{
    margin-bottom: 20px;
}
.mr-10{
    margin-right: 10px;
}
.Polaris-Modal__BodyWrapper .Polaris-Choice__HelpText{
    margin-top: 5px;
}
.Polaris-Modal-Footer{
    box-shadow: 0px -4px 20px rgb(0 0 0 / 15%);
}
.color_picker_box{
    box-shadow: 0px 2px 1px rgb(0 0 0 / 5%), 0px 0px 1px rgb(0 0 0 / 25%);
    border-radius: 8px;
    padding: 10px 16px;
}
body .Polaris-Modal-Section .add_img{
    margin-top: 20px;
    box-shadow: inset 0px 1px 0px #E1E3E5, inset 0px -1px 0px #E1E3E5;
    padding: 20px 0;
    .Polaris-Stack{
        margin: 0 !important;
    }
    .Polaris-DropZone--sizeLarge{
        margin: 20px 0;
    }
    .Polaris-Stack__Item{
         margin: 5px 0 !important;
    }
}
body .Polaris-Modal-Dialog__Modal .Polaris-Modal-Footer__FooterContent .Polaris-Stack__Item--fill{
    display: none !important;
}
.Polaris-FormLayout .bannerClass{
    margin: 35px 0;
}
.form_custom .progress_checkbox .Polaris-Card__Section{
    padding: 0;
    padding-bottom: 15px;
}
.form_custom .progress_checkbox .Polaris-Button{
    margin-top: 6px;
}