@charset "UTF-8";
.bxp-no-overflow {
  overflow: hidden;
}

@font-face {
  font-family: fontello;
  src: url(https://builder-front.boxup.io/font/fontello.eot?32974303);
  src: url(https://builder-front.boxup.io/font/fontello.eot?32974303#iefix) format("embedded-opentype"), url(https://builder-front.boxup.io/font/fontello.woff?32974303) format("woff"), url(https://builder-front.boxup.io/font/fontello.ttf?32974303) format("truetype"), url(https://builder-front.boxup.io/font/fontello.svg?32974303#fontello) format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: ElegantIcons;
  src: url(https://builder-front.boxup.io/font/ElegantIcons.eot);
  src: url(https://builder-front.boxup.io/font/ElegantIcons.eot?#iefix) format("embedded-opentype"), url(https://builder-front.boxup.io/font/ElegantIcons.woff) format("woff"), url(https://builder-front.boxup.io/font/ElegantIcons.ttf) format("truetype"), url(https://builder-front.boxup.io/font/ElegantIcons.svg#ElegantIcons) format("svg");
  font-weight: 400;
  font-style: normal;
}
#bxp-preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99999999999 !important;
}

[data-loader=circle-side] {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
  -webkit-animation: circle infinite 0.95s linear;
  animation: circle infinite 0.95s linear;
  border: 2px solid #463b36;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-right-color: rgba(0, 0, 0, 0.2);
  border-bottom-color: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
}

@-webkit-keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.bb_main {
  display: block;
}

#wizard_container {
  position: relative;
  min-height: 450px;
}

.bb_container {
  box-sizing: border-box;
  width: 100%;
  padding-top: 30px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .bb_container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .bb_container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .bb_container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .bb_container {
    max-width: 1140px;
  }
}
.bb-bldr-question_title {
  text-align: center;
  margin-bottom: 15px;
}

.bb-bldr-question_title h3 {
  font-size: 36px;
  margin: 45px 0 0 0;
}

@media (max-width: 575px) {
  .bb-bldr-question_title h3 {
    font-size: 24px;
  }
}
.bb-bldr-question_title p {
  font-size: 15px;
  margin-bottom: 0;
  margin-top: 10px;
}

.bb-bldr-justify-content-center {
  justify-content: center !important;
}

.bb-bldr-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.bxp-bldr-col,
.bxp-bldr-col-1,
.bxp-bldr-col-10,
.bxp-bldr-col-11,
.bxp-bldr-col-12,
.bxp-bldr-col-2,
.bxp-bldr-col-3,
.bxp-bldr-col-4,
.bxp-bldr-col-5,
.bxp-bldr-col-6,
.bxp-bldr-col-7,
.bxp-bldr-col-8,
.bxp-bldr-col-9,
.bxp-bldr-col-auto,
.bxp-bldr-col-lg,
.bxp-bldr-col-lg-1,
.bxp-bldr-col-lg-10,
.bxp-bldr-col-lg-11,
.bxp-bldr-col-lg-12,
.bxp-bldr-col-lg-2,
.bxp-bldr-col-lg-3,
.bxp-bldr-col-lg-4,
.bxp-bldr-col-lg-5,
.bxp-bldr-col-lg-6,
.bxp-bldr-col-lg-7,
.bb-bldr-col-lg-8,
.bxp-bldr-col-lg-9,
.bxp-bldr-col-lg-auto,
.bxp-bldr-col-md,
.bxp-bldr-col-md-1,
.bxp-bldr-col-md-10,
.bxp-bldr-col-md-11,
.bxp-bldr-col-md-12,
.bxp-bldr-col-md-2,
.bxp-bldr-col-md-3,
.bb-bldr-col-md-4,
.bxp-bldr-col-md-5,
.bb-bldr-col-md-6,
.bxp-bldr-col-md-7,
.bxp-bldr-col-md-8,
.bxp-bldr-col-md-9,
.bxp-bldr-col-md-auto,
.bxp-bldr-col-sm,
.bxp-bldr-col-sm-1,
.bxp-bldr-col-sm-10,
.bxp-bldr-col-sm-11,
.bxp-bldr-col-sm-12,
.bxp-bldr-col-sm-2,
.bxp-bldr-col-sm-3,
.bxp-bldr-col-sm-4,
.bxp-bldr-col-sm-5,
.bxp-bldr-col-sm-6,
.bxp-bldr-col-sm-7,
.bxp-bldr-col-sm-8,
.bxp-bldr-col-sm-9,
.bxp-bldr-col-sm-auto,
.bxp-bldr-col-xl,
.bxp-bldr-col-xl-1,
.bxp-bldr-col-xl-10,
.bxp-bldr-col-xl-11,
.bxp-bldr-col-xl-12,
.bxp-bldr-col-xl-2,
.bxp-bldr-col-xl-3,
.bxp-bldr-col-xl-4,
.bxp-bldr-col-xl-5,
.bxp-bldr-col-xl-6,
.bxp-bldr-col-xl-7,
.bxp-bldr-col-xl-8,
.bxp-bldr-col-xl-9,
.bxp-bldr-col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}

.bb-bldr-item {
  margin-top: 25px;
}

.bb-bldr-item label .bxp-bldr-sold_out {
  background-color: #463b36;
  padding: 5px 15px 5px 15px;
  display: inline-block;
  margin-bottom: 15px;
  color: #fff;
  box-shadow: 2px 2px 5px #aaa;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bxp-bldr-sold_out:hover {
  opacity: 0.8;
}

.bb-bldr-item label .bb-bldr-item_price {
  background-color: #463b36;
  padding: 5px 15px 5px 15px;
  display: inline-block;
  margin-bottom: 15px;
  color: #fff;
  box-shadow: 2px 2px 5px #aaa;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bb-bldr-item input[type=checkbox]:not(old),
.bb-bldr-item input[type=radio]:not(old) {
  visibility: hidden;
  height: 0;
}

.bb-bldr-item input[type=checkbox]:not(old):checked + label,
.bb-bldr-item input[type=radio]:not(old):checked + label,
.bb-bldr-item input[type=checkbox]:not(old):checked + span + label,
.bb-bldr-item input[type=radio]:not(old):checked + span + label {
  display: block;
  border: 1px solid #81a252;
  box-shadow: 0 2px 10px #e0e5f0;
}

.bb-bldr-item input[type=checkbox]:not(old):checked + span + label:before,
.bb-bldr-item input[type=radio]:not(old):checked + span + label:before {
  font-family: "fontello";
  content: "\e81b";
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 24px;
  font-size: 1.5rem;
  color: #81a252;
  z-index: 2;
}

.bb-bldr-item input[type=checkbox]:not(old):checked + label:before,
.bb-bldr-item input[type=radio]:not(old):checked + label:before,
.bb-bldr-item input[type=checkbox]:not(old):checked + span + label:before,
.bb-bldr-item input[type=radio]:not(old):checked + span + label:before {
  font-family: "fontello";
  content: "\e81b";
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 24px;
  font-size: 1.5rem;
  color: #81a252;
  z-index: 2;
}

.bb-bldr-item label {
  border: 4px solid transparent;
}

.bb-bldr-item label img {
  display: block;
  margin: 0 auto 15px;
  height: 200px;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 180px;
  border: 0px !important;
}

.bb-bldr-item label strong {
  display: block;
  font-size: 18px;
  color: #333;
  text-transform: uppercase;
  font-weight: 600;
}

.bb-mt-10 {
  margin-top: 10px;
}

.bb-bldr-box_general {
  border-radius: 5px;
  display: block;
  background-color: #fff;
  padding: 45px;
  margin-top: 15px;
  border: 1px solid #d9e1e6;
  display: grid;
}

@media (max-width: 991px) {
  .bb-bldr-box_general {
    padding: 30px;
  }
}
.bxp-bldr-img_fluid {
  max-width: 100%;
  height: auto;
}

.box_general {
  border: none;
}

.bb-bldr-form-group {
  position: relative;
  margin-bottom: 25px;
}

.bb-bldr-form-group span.error {
  left: -5px;
  top: -35px;
}

.bb-bldr-form-group .bxp-bldr-icheckbox_square-grey {
  margin-right: 10px;
}

.bb-bldr-form-group.short {
  margin-bottom: 10px;
}

.add_bottom_30 {
  margin-bottom: 30px;
}

.bb-bldr-form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.bb-bldr-styled-select select {
  width: 107%;
  padding: 5px 5px 5px 15px;
  height: 41px;
  margin: 0;
  font-weight: 400;
  -moz-appearance: window;
  -webkit-appearance: none;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  font-size: 1rem;
}

.bb-bldr-styled-select select:focus {
  outline: none;
  box-shadow: none;
}

.bb-bldr-styled-select select::-ms-expand {
  display: none;
}

.bb-bldr-styled-select select::-moz-placeholder {
  opacity: 1;
}

.bxp-bldr-checkbox_questions .bxp-bldr-icheckbox_square-grey {
  margin-right: 10px;
}

.bxp-bldr-icheckbox_square-grey,
.bxp-bldr-iradio_square-grey {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  border: none;
  cursor: pointer;
}

.bxp-bldr-icheckbox_square-grey {
  background-position: 0 0;
}

.bxp-bldr-icheckbox_square-grey.hover {
  background-position: -24px 0;
}

.bxp-bldr-icheckbox_square-grey.checked {
  background-position: -48px 0;
}

.bxp-bldr-icheckbox_square-grey.disabled {
  background-position: -72px 0;
  cursor: default;
}

.bxp-bldr-icheckbox_square-grey.checked.disabled {
  background-position: -96px 0;
}

.bxp-bldr-iradio_square-grey {
  background-position: -120px 0;
}

.bxp-bldr-iradio_square-grey.hover {
  background-position: -144px 0;
}

.bxp-bldr-iradio_square-grey.checked {
  background-position: -168px 0;
}

.iradio_square-grey.disabled {
  background-position: -192px 0;
  cursor: default;
}

.bxp-bldr-iradio_square-grey.checked.disabled {
  background-position: -216px 0;
}

.bb-error {
  color: red;
}

input.bb-bldr-form-control,
select.bb-bldr-form-control,
textarea.bb-bldr-form-control {
  color: black;
  border-radius: 3px;
  box-shadow: none;
  height: 44px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 2px;
  padding: 6px 10px 6px 15px;
  max-width: 100%;
}

input.bb-bldr-form-control:focus,
textarea.bb-bldr-form-control:focus {
  outline: 0;
  box-shadow: none;
  transition: all 0.3s ease-in-out;
}

@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
  .bxp-bldr-icheckbox_square-grey,
.bxp-bldr-iradio_square-grey {
    background-size: 240px 24px;
  }
}
#bxp-bldr-bottom-wizard {
  box-sizing: border-box;
  padding: 20px 30px 20px 30px;
  background-color: #fff;
  right: 0;
  left: 0;
  bottom: 0;
  border-top: 1px solid #d9e1e6;
  z-index: 9999;
  position: fixed;
  height: 76px;
}

@media (max-width: 767px) {
  #bxp-bldr-bottom-wizard {
    padding: 15px 15px 10px 15px;
  }
}
.bxp-bldr-float-right {
  float: right;
}

button.bxp-bldr-backward,
button.bxp-bldr-forward,
button.bb-bldr-add,
button.bb-bldr-submit {
  height: auto;
  width: auto;
  border: none;
  color: #fff;
  padding: 7px 20px;
  text-decoration: none;
  transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -webkit-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  display: inline-block;
  cursor: pointer;
  font-weight: 400;
  outline: none;
  min-width: 110px;
  text-align: center;
  background: #463b36;
  position: relative;
  font-size: 15px;
  line-height: 1;
  padding: 10px 30px 10px 30px;
}

button.bxp-bldr-backward {
  color: #333;
  background: #e06c6c;
  padding: 10px 10px 10px 20px;
}

button.bxp-bldr-forward {
  padding: 10px 30px 10px 20px;
}

button[disabled] {
  display: none;
}

button.bxp-bldr-backward:before {
  content: "\e9ed";
  font-family: "fontello";
  position: absolute;
  top: 8px;
  left: 12px;
  font-size: 18px;
  font-size: 1.125rem;
}

@media (max-width: 767px) {
  button.bxp-bldr-backward:before {
    text-indent: 0;
    font-size: 32px;
    font-size: 1.2rem;
    left: 19px;
  }
}
button.bxp-bldr-forward:before {
  content: "\e9ee";
  font-family: "fontello";
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 18px;
  font-size: 1.125rem;
}

@media (max-width: 767px) {
  button.bxp-bldr-forward:before {
    text-indent: 0;
    font-size: 32px;
    font-size: 1.2rem;
    right: 12px;
  }

  .bb-bldr-item label img {
    height: auto;
    width: auto;
    min-height: 120px;
    height: 120px;
  }

  .bb-bldr-col-md-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .bxp-bldr-col-md-3 {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (max-width: 767px) {
  button.bb-bldr-submit:before {
    text-indent: 0;
    font-size: 26px;
    font-size: 1.625rem;
    top: 5px;
    right: 4px;
  }
}
button.bxp-bldr-backward:hover,
button.bb-bldr-submit:hover,
button.bxp-bldr-forward:hover {
  opacity: 0.8;
}

@media (min-width: 768px) {
  .bxp-bldr-col-md-5 {
    flex: 0 0 40%;
    max-width: 40%;
  }

  .bxp-bldr-col-md-7 {
    flex: 0 0 60%;
    max-width: 60%;
  }

  .bb-bldr-col-md-6 {
    box-sizing: border-box;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .bb-bldr-col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .bxp-bldr-col-md-3 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
@media (min-width: 992px) {
  .bxp-bldr-col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .bxp-bldr-col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
    margin: 0;
  }

  .bxp-bldr-col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .bb-bldr-col-lg-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    margin: 0;
  }
}
.bb-bldr-item label {
  border-radius: 5px;
  display: block;
  background: #fff;
  padding: 45px 45px 35px 45px;
  text-align: center;
  margin-bottom: 0;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  position: relative;
  border: 1px solid #d9e1e6;
  font-size: 15px;
  cursor: pointer;
  word-break: break-word;
}

@media (max-width: 991px) {
  .bb-bldr-item label {
    padding: 10px;
  }
}
.bb-bldr-step {
  margin-bottom: 20px;
}

#bxp-bldr-price_total {
  line-height: 1;
  float: left;
}

#bxp-bldr-price_total h3 {
  display: inline-block;
  margin: 0 5px 0 0;
  font-size: 28px;
  font-size: 1.75rem;
  padding: 0;
  font-weight: 400;
  text-transform: uppercase;
  color: #ccc;
  font-weight: 700;
}

@media (max-width: 767px) {
  #bxp-bldr-price_total {
    line-height: 2.1;
  }

  #bxp-bldr-price_total h3 {
    font-size: 18px;
    font-size: 1.125rem;
  }
}
#bxp-bldr-price_total span {
  font-size: 26px;
  font-size: 1.625rem;
  font-weight: 700;
  display: inline-block;
  color: #000;
}

@media (max-width: 767px) {
  #bxp-bldr-price_total span {
    font-size: 21px;
    font-size: 1.3125rem;
  }
}
a#bxp-bldr-details_bt {
  float: left;
  margin-left: 20px;
  display: none;
  position: relative;
  z-index: 3;
  top: 2px;
}

@media (max-width: 767px) {
  a#bxp-bldr-details_bt {
    margin-left: 15px;
    top: -1px;
  }
}
a#bxp-bldr-details_bt:before {
  content: "\e060";
  font-family: "ElegantIcons";
  font-size: 22px;
  font-size: 1.375rem;
}

a#bxp-bldr-details_bt.show {
  display: inline-block;
}

a#bxp-bldr-details_bt:hover div {
  display: inline-block;
}

#bxp-bldr-order_details {
  position: absolute;
  min-width: 350px;
  padding: 30px;
  z-index: 9;
  left: -15px;
  width: auto;
  bottom: 40px;
  background-color: #fff;
  display: none;
  white-space: break-spaces;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  color: #555;
  opacity: 1;
}

@media (max-width: 767px) {
  #bxp-bldr-order_details {
    left: -50px;
  }
}
#bxp-bldr-order_details h4 {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 600;
}

#bb-toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 6;
  left: 50%;
  bottom: 106px;
}

#bb-toast.bxp-show-error {
  visibility: visible;
  background-color: #b53c3c;
  color: #fff;
  -webkit-animation: bxp-fadein 0.5s, bxp-fadeout 0.5s 2.5s;
  animation: bxp-fadein 0.5s, bxp-fadeout 0.5s 2.5s;
}

#bb-toast.bxp-show {
  visibility: visible;
  -webkit-animation: bxp-fadein 0.5s, bxp-fadeout 0.5s 2.5s;
  animation: bxp-fadein 0.5s, bxp-fadeout 0.5s 2.5s;
}

#bxp-cart-toast {
  visibility: hidden;
  min-width: 200px;
  background-color: #463b36;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 12px;
  position: fixed;
  z-index: 5;
  left: 30px;
  bottom: 106px;
}

#bxp-cart-toast.bxp-show {
  visibility: visible;
  -webkit-animation: bxp-fadein 0.5s, bxp-fadeout 0.5s 2.5s;
  animation: bxp-fadein 0.5s, bxp-fadeout 0.5s 2.5s;
}

#bb-discount-toast {
  visibility: hidden;
  min-width: 250px;
  background-color: #32994c;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 12px;
  position: fixed;
  z-index: 5;
  left: 50%;
  margin-left: -125px;
  font-size: 16px;
}

#bb-discount-toast.bxp-show {
  visibility: visible;
}

.bxp-discount {
  font-weight: 700;
}

@media (max-width: 900px) {
  #bb-discount-toast {
    bottom: 80px;
  }

  @-webkit-keyframes bxp-fadein-discount {
    from {
      bottom: 0;
      opacity: 0;
    }
    to {
      bottom: 80px;
      opacity: 1;
    }
  }
  @keyframes bxp-fadein-discount {
    from {
      bottom: 0;
      opacity: 0;
    }
    to {
      bottom: 80px;
      opacity: 1;
    }
  }
  @-webkit-keyframes bxp-fadeout-discount {
    from {
      bottom: 80px;
      opacity: 1;
    }
    to {
      bottom: 0;
      opacity: 0;
    }
  }
  @keyframes bxp-fadeout-discount {
    from {
      bottom: 80px;
      opacity: 1;
    }
    to {
      bottom: 0;
      opacity: 0;
    }
  }
}
@-webkit-keyframes bxp-fadein-discount {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 80px;
    opacity: 1;
  }
}
@keyframes bxp-fadein-discount {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 80px;
    opacity: 1;
  }
}
@-webkit-keyframes bxp-fadeout-discount {
  from {
    bottom: 80px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
@keyframes bxp-fadeout-discount {
  from {
    bottom: 80px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
@-webkit-keyframes bxp-fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 106px;
    opacity: 1;
  }
}
@keyframes bxp-fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 106px;
    opacity: 1;
  }
}
@-webkit-keyframes bxp-fadeout {
  from {
    bottom: 106px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
@keyframes bxp-fadeout {
  from {
    bottom: 106px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
#bxp-loading {
  display: none;
}

.bxp-sel-figure {
  display: none;
}

body.hidden-scroll {
  overflow: hidden;
}

.bxp-sl-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  opacity: 0.7;
  display: none;
  z-index: 1035;
}

.bxp-sl-wrapper {
  z-index: 1040;
}

.bxp-sl-wrapper * {
  box-sizing: border-box;
}

.bxp-sl-wrapper button {
  border: 0 none;
  background: transparent;
  font-size: 28px;
  padding: 0;
  cursor: pointer;
}

.bxp-sl-wrapper button:hover {
  opacity: 0.7;
}

.bxp-sl-wrapper .bxp-sl-close {
  display: none;
  position: fixed;
  right: 30px;
  top: 30px;
  z-index: 10060;
  margin-top: -14px;
  margin-right: -14px;
  height: 44px;
  width: 44px;
  line-height: 44px;
  font-family: Arial, Baskerville, monospace;
  color: #000;
  font-size: 3rem;
}

.bxp-sl-wrapper .bxp-sl-close:focus {
  outline: none;
}

.bxp-sl-wrapper .bxp-sl-counter {
  display: none;
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 1060;
  color: #000;
  font-size: 1rem;
}

.bxp-sl-wrapper .bxp-sl-navigation {
  width: 100%;
  display: none;
}

.bxp-sl-wrapper .bxp-sl-navigation button {
  position: fixed;
  top: 50%;
  margin-top: -22px;
  height: 44px;
  width: 22px;
  line-height: 44px;
  text-align: center;
  display: block;
  z-index: 10060;
  font-family: Arial, Baskerville, monospace;
  color: #000;
}

.bxp-sl-wrapper .bxp-sl-navigation button.bxp-sl-next {
  right: 5px;
  font-size: 2rem;
}

.bxp-sl-wrapper .bxp-sl-navigation button.bxp-sl-prev {
  left: 5px;
  font-size: 2rem;
}

.bxp-sl-wrapper .bxp-sl-navigation button:focus {
  outline: none;
}

@media (min-width: 35.5em) {
  .bxp-sl-wrapper .bxp-sl-navigation button {
    width: 44px;
  }

  .bxp-sl-wrapper .bxp-sl-navigation button.bxp-sl-next {
    right: 10px;
    font-size: 3rem;
  }

  .bxp-sl-wrapper .bxp-sl-navigation button.bxp-sl-prev {
    left: 10px;
    font-size: 3rem;
  }
}
@media (min-width: 50em) {
  .bxp-sl-wrapper .bxp-sl-navigation button {
    width: 44px;
  }

  .bxp-sl-wrapper .bxp-sl-navigation button.bxp-sl-next {
    right: 20px;
    font-size: 3rem;
  }

  .bxp-sl-wrapper .bxp-sl-navigation button.bxp-sl-prev {
    left: 20px;
    font-size: 3rem;
  }
}
.bxp-sl-wrapper.bxp-sl-dir-rtl .bxp-sl-navigation {
  direction: ltr;
}

.bxp-sl-wrapper .bxp-sl-image {
  position: fixed;
  touch-action: none;
  z-index: 10000;
}

.bxp-sl-wrapper .bxp-sl-image img {
  margin: 0;
  padding: 0;
  display: block;
  border: 0 none;
  width: 100%;
  height: auto;
}

@media (min-width: 35.5em) {
  .bxp-sl-wrapper .bxp-sl-image img {
    border: 0 none;
  }
}
@media (min-width: 50em) {
  .bxp-sl-wrapper .bxp-sl-image img {
    border: 0 none;
  }
}
.bxp-sl-wrapper .bxp-sl-image iframe {
  background: #000;
  border: 0 none;
}

@media (min-width: 35.5em) {
  .bxp-sl-wrapper .bxp-sl-image iframe {
    border: 0 none;
  }
}
@media (min-width: 50em) {
  .bxp-sl-wrapper .bxp-sl-image iframe {
    border: 0 none;
  }
}
.bxp-sl-wrapper .bxp-sl-image .bxp-sl-caption {
  display: none;
  padding: 10px;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.bxp-sl-wrapper .bxp-sl-image .bxp-sl-caption.pos-top {
  bottom: auto;
  top: 0;
}

.bxp-sl-wrapper .bxp-sl-image .bxp-sl-caption.pos-outside {
  bottom: auto;
}

.bxp-sl-wrapper .bxp-sl-image .bxp-sl-download {
  display: none;
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #000;
  z-index: 1060;
}

.bxp-sl-spinner {
  display: none;
  border: 5px solid #333;
  border-radius: 40px;
  height: 40px;
  left: 50%;
  margin: -20px 0 0 -20px;
  opacity: 0;
  position: fixed;
  top: 50%;
  width: 40px;
  z-index: 1007;
  -webkit-animation: pulsate 1s ease-out infinite;
  animation: pulsate 1s ease-out infinite;
}

.bxp-sl-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

.bxp-sl-transition {
  transition: transform ease 200ms;
}

@-webkit-keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
.bb-owl-carousel,
.bb-owl-carousel .bb-owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.bb-owl-carousel {
  width: 100%;
  z-index: 1;
}

.bb-owl-carousel .bb-owl-stage {
  position: relative;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
}

.bb-owl-carousel .bb-owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.bb-owl-carousel .bb-owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

.bb-owl-carousel .bb-owl-item,
.bb-owl-carousel .bxp-owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.bb-owl-carousel .bb-owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
}

.bb-owl-carousel .bb-owl-dots.disabled,
.bb-owl-carousel .bb-owl-nav.disabled {
  display: none;
}

.no-js .bb-owl-carousel,
.bb-owl-carousel.bb-owl-loaded {
  display: block;
}

.bb-owl-carousel .bb-owl-dot,
.bb-owl-carousel .bb-owl-nav .bb-owl-next,
.bb-owl-carousel .bb-owl-nav .bb-owl-prev {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bb-owl-carousel .bb-owl-nav button.bb-owl-next,
.bb-owl-carousel .bb-owl-nav button.bb-owl-prev,
.bb-owl-carousel button.bb-owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.bb-owl-carousel.bxp-owl-loading {
  opacity: 0;
  display: block;
}

.bb-owl-carousel.bxp-owl-hidden {
  opacity: 0;
}

.bb-owl-carousel.bxp-owl-refresh .bb-owl-item {
  visibility: hidden;
}

.bb-owl-carousel.bb-owl-drag .bb-owl-item {
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bb-owl-carousel.bxp-owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.bb-owl-carousel.bxp-owl-rtl {
  direction: rtl;
}

.bb-owl-carousel.bxp-owl-rtl .bb-owl-item {
  float: right;
}

.bb-owl-carousel .animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.bb-owl-carousel .bxp-owl-animated-in {
  z-index: 0;
}

.bb-owl-carousel .bxp-owl-animated-out {
  z-index: 1;
}

.bb-owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.bxp-owl-height {
  transition: height 0.5s ease-in-out;
}

.bb-owl-carousel .bb-owl-item .bxp-owl-lazy {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.bb-owl-carousel .bb-owl-item .bxp-owl-lazy:not([src]),
.bb-owl-carousel .bb-owl-item .bxp-owl-lazy[src^=""] {
  max-height: 0;
}

.bb-owl-carousel .bb-owl-item img.bxp-owl-lazy {
  transform-style: preserve-3d;
}

.bb-owl-carousel .bxp-owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.bb-owl-carousel .bxp-owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 0.1s ease;
}

.bb-owl-carousel .bxp-owl-video-play-icon:hover {
  transform: scale(1.3, 1.3);
}

.bb-owl-carousel .bxp-owl-video-playing .bxp-owl-video-play-icon,
.bb-owl-carousel .bxp-owl-video-playing .bxp-owl-video-tn {
  display: none;
}

.bb-owl-carousel .bxp-owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 0.4s ease;
}

.bb-owl-carousel .bxp-owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.bb-owl-theme .bb-owl-dots,
.bb-owl-theme .bb-owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5;
  margin-top: 5px;
}

.bb-owl-theme .bb-owl-dots .bb-owl-dot {
  display: inline-block;
  zoom: 1;
  width: auto;
  height: auto;
  min-width: auto !important;
}

.bb-owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #c2c2c2;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
  border-radius: 30px;
}

.bb-owl-theme .bb-owl-dots .bb-owl-dot.active span,
.bb-owl-theme .bb-owl-dots .bb-owl-dot:hover span {
  background: #869791;
}

.bxp-mt-15 {
  margin-top: 15px;
}

.bb-owl-dots {
  line-height: 1.5;
}

.bb-owl-item {
  width: 100%;
}

@media (max-width: 768px) {
  .no-mb {
    margin-top: 10px;
  }

  .bxp-mt-15 {
    margin-top: 0;
  }
}
.no-mb {
  margin-bottom: 0;
}

.bxp-styled-select {
  width: 100%;
  overflow: hidden;
  height: 44px;
  background: #fff url(https://builder-front.boxup.io/img/arrow_down.svg) no-repeat right center;
  border: 1px solid #d9e1e6;
  border-radius: 3px;
}

.bxp-hide-title,
.bxp-hide-collection,
.bxp-hide-tags {
  display: none !important;
}

.bxp-show-title,
.bxp-show-collection,
.bxp-show-tags {
  display: block;
}

.bxp-image-selected:before {
  font-family: "fontello";
  content: "\e81b";
  display: table;
  padding-left: 5px;
  font-size: 22px;
  font-size: 1.3rem;
  color: #81a252;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  background-size: cover;
  width: 146px;
  height: 120px;
}

.bxp-image-select {
  height: 125px;
  width: 150px;
  border-radius: 4px;
  margin-right: 8px;
  display: inline-block;
  border: 2px solid #ddd;
  margin-top: 10px;
  cursor: pointer;
}

.bxp-image-select img {
  height: auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 120px;
  max-height: 120px;
}

.bb-swatch-color {
  height: 65px;
  width: 65px;
  border-radius: 4px;
  margin-right: 5px;
  display: block;
  border: 2px solid #ddd;
  cursor: pointer;
}

.bb-swatch-selected,
.bxp-image-selected {
  box-shadow: 0 2px 10px #81a252;
  border: 2px solid #81a252;
}

.bb-swatch-selected:before {
  font-family: "fontello";
  content: "\e81b";
  display: table;
  padding-left: 5px;
  font-size: 22px;
  font-size: 1.3rem;
  color: #81a252;
}

.bxp-swatch-input {
  visibility: hidden !important;
  margin-top: -40px !important;
  height: 0px !important;
}

.bxp-bldr-col-md-3 .bb-bldr-item label {
  padding: 10px;
  font-size: 12px;
}

.bxp-bldr-col-md-3 .bb-bldr-item label strong {
  font-size: 12px;
}

.bb-bldr-qty-down {
  margin-right: 3px;
  display: none;
  background-color: #463b36;
  padding: 5px 15px 5px 15px;
  margin-bottom: 15px;
  color: #fff;
  box-shadow: 2px 2px 5px #aaa;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bb-bldr-qty-up {
  margin-left: 3px;
  background-color: #463b36;
  padding: 5px 15px 5px 15px;
  display: none;
  margin-bottom: 15px;
  color: #fff;
  box-shadow: 2px 2px 5px #aaa;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bldr-dark-btn span:not(.bb-bldr-item_price):hover {
  opacity: 0.8;
}

input:checked .bb-bldr-qty-down {
  display: inline-block;
}

input:checked .bb-bldr-qty-up {
  display: inline-block;
}

#bxp-bldr-price_total h3 {
  display: inline-block;
}

@media (max-width: 575px) {
  #bxp-bldr-price_total h3 {
    display: none;
  }
}
.bb-modal {
  display: none;
}

.bb-modal.is-open {
  display: block;
}

.bb-modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999999;
}

.bb-modal__container {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 30px;
  width: 900px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

#bb-prod-info-content {
  color: #fff;
}

#bb-prod-info-content p,
#bb-prod-info-content span {
  color: #fff;
}

.bb-modal__header {
  background: transparent;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  padding-right: 10px;
  margin-top: -20px;
  padding-bottom: 20px;
  position: relative;
}

.bb-modal__title {
  margin-top: 0;
  margin-bottom: 30px;
  box-sizing: border-box;
  color: #fff;
}

.bb-modal__close {
  width: auto;
  background: 0 0;
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 22px;
  position: absolute;
  max-width: 50px;
  min-width: 20px;
}

.bb-modal__close:hover {
  background: none;
}

.bb-modal__header .bb-modal__close:before {
  content: "✕";
}

.bb-modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: #fff;
}

.bb-modal__btn {
  font-size: 0.875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #fff;
  border-radius: 0.25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.bb-modal__btn:focus,
.bb-modal__btn:hover {
  transform: scale(1.05);
}

.bb-modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}

@-webkit-keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}
@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}
.bxp-micromodal-slide {
  display: none;
}

.bxp-micromodal-slide.is-open {
  display: block;
}

.bxp-micromodal-slide[aria-hidden=false] .bb-modal__overlay {
  -webkit-animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.bxp-micromodal-slide[aria-hidden=false] .bb-modal__container {
  -webkit-animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.bxp-micromodal-slide[aria-hidden=true] .bb-modal__overlay {
  -webkit-animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.bxp-micromodal-slide[aria-hidden=true] .bb-modal__container {
  -webkit-animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.bxp-micromodal-slide .bb-modal__container,
.bxp-micromodal-slide .bb-modal__overlay {
  will-change: transform;
}

.bb-bldr-add-text {
  color: white;
}

.bxp-deselect {
  width: 30px;
  height: 43px;
  border: 0px;
  display: none;
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
}

#bxp-mob-images {
  width: 100%;
}

#bb_progress {
  display: none;
  margin-top: 15px;
}

.bb_progress-bar {
  border-bottom: solid 2px #d9e1e6;
}

.bb_progress-number {
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  margin-top: 4px;
}

.bb-steps {
  max-width: 100%;
  width: 100%;
  table-layout: fixed;
  display: table;
}

.bb-step {
  cursor: pointer;
  margin: 0 15px;
  text-align: center;
  display: table-cell;
  opacity: 0.6;
  color: #3a3a3a;
}

#bb_progress .bb-circle {
  margin: 0 auto;
  margin-top: -7px;
  width: 12px;
  height: 12px;
  background: white;
  border: solid 2px;
  border-radius: 50%;
}

#bb_progress .bb-step-current {
  font-weight: bold;
  opacity: 1;
}

#bb_progress .bb-step-complete {
  opacity: 1;
}

@media (max-width: 768px) {
  .bb-modal__title {
    margin-top: 10px;
  }

  .bb-step {
    font-size: 12px;
  }

  .bb-bldr-item label strong {
    font-size: 0.7rem;
  }

  .bb-bldr-item label {
    font-size: 0.7rem;
  }

  .button.bxp-bldr-forward {
    padding: 10px 16px 10px 8px;
  }

  button.bxp-bldr-forward {
    min-width: 90px;
  }

  button.bxp-bldr-backward {
    min-width: 90px;
  }

  button.bb-bldr-submit {
    min-width: 90px;
  }
}
.is-absolute {
  position: unset;
}

.bb-table {
  display: table;
  text-align: center;
}

.bb-table-cell {
  display: table-cell;
  vertical-align: top;
  float: left;
}

.bb-table-cell span {
  font-size: 12px;
}

.bb-qty-num {
  display: none;
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
  background: #463b36;
  font-size: 18px;
  position: absolute;
  padding: 2px 10px;
  color: white;
  z-index: 2;
}

@media (max-width: 991px) {
  .bxp-sel-images-container,
#bxp-sel-images,
.bxp-sel-left,
.bxp-sel-right {
    display: none;
  }

  .bb-qty-num {
    left: 10px;
    top: 10px;
  }
}
@-webkit-keyframes slide {
  100% {
    left: 0;
  }
}
@keyframes slide {
  100% {
    left: 0;
  }
}
.bxp-pre-unavailable {
  display: inline-block !important;
}

.bb-full-width {
  width: 100%;
}

#bxp-sel-images {
  margin-right: 40px;
  overflow-x: scroll;
  white-space: nowrap;
  margin-top: -10px;
  margin: 0 auto;
}

.bxp-sel-images {
  margin-right: 40px;
  overflow-x: scroll;
  white-space: nowrap;
  margin-top: -10px;
  margin: 0 auto;
}

.bxp-thumbnail {
  max-height: 50px;
  margin-right: 10px;
}

.bxp-thumbnail-container {
  position: relative;
  display: inline-block;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
  cursor: -webkit-grab;
  cursor: grab;
}

.bxp-thumbnail-qty {
  top: 0px;
  left: 0px;
  position: absolute;
  background: #3a3a3a;
  font-size: 10px;
  padding: 2px 4px;
  color: white;
}

.bxp-thumbnail-remove {
  top: 0px;
  right: 0px;
  position: absolute;
  background: #3a3a3a;
  font-size: 12px;
  padding: 2px 4px;
  color: white;
  cursor: pointer;
}

.owl-dots {
  display: none;
}

.bxp-sel-images-container {
  position: relative;
  max-width: 25%;
}

.bxp-sel-left,
.bxp-sel-right {
  display: none;
}

.bxp-sel-left:before {
  content: "4";
  font-family: "ElegantIcons";
  font-size: 28px;
  position: absolute;
  left: -30px;
  cursor: pointer;
  top: -5px;
  color: #463b36;
}

.bxp-sel-right:before {
  content: "5";
  font-family: "ElegantIcons";
  font-size: 28px;
  position: absolute;
  margin-left: -30px;
  cursor: pointer;
  top: -5px;
  color: #463b36;
}

.bb-bldr-form-group label {
  display: block;
}

.bb-step-box {
  display: none;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid #d9e1e6;
  padding: 20px;
  position: relative;
}

.bxp-summary-container {
  position: relative;
  width: calc(20% - 15px);
  display: inline-block;
  margin-right: 15px;
  margin-top: 5px;
  text-align: center;
}

.bxp-summary-img {
  width: 130px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.bxp-flex {
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

.bb-step-box-list h5 {
  text-align: center;
  text-transform: uppercase;
}

.bxp-box-list {
  list-style: none;
}

.bxp-box-list li {
  display: block;
  margin-top: 5px;
}

.bxp-right {
  float: right;
  font-weight: bold;
  position: absolute;
  padding-left: 5px;
}

.bxp-building-bg {
  z-index: 999999999;
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
}

.bxp-building {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  background-color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 15px 25px 40px 25px;
}

.bxp-building h3 {
  color: #000;
}

.bxp-building p {
  color: #000;
}

.bxp-building-img {
  height: 100%;
}

.bb-owl-item:hover .bb-overlay-icon {
  opacity: 0.6;
}

.bb-overlay-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: black;
}

.bb-icon:before {
  content: "U";
  color: white;
  font-family: "ElegantIcons";
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  height: 45px;
  width: 45px;
}

@media (max-height: 400px) {
  .bxp-building-img {
    height: 150px;
  }
}
@media (max-width: 1200px) {
  .bxp-summary-img {
    max-height: 90px;
    height: 90px;
  }
}
@media (max-width: 991px) {
  .bb-step-box-list {
    margin-top: 20px;
  }

  .bb-modal__close {
    position: inherit;
  }

  .bb-modal__header {
    position: fixed;
    top: 40px;
    right: 40px;
  }
}
@media (max-width: 768px) {
  .bxp-summary-img {
    max-height: 60px;
    height: 60px;
  }

  .bb-modal__content {
    margin-top: 55px;
  }

  .bxp-mt-15 {
    padding-right: 5px !important;
    padding-left: 5px !important;
  }

  .bb-overlay-icon {
    height: 120px;
  }

  .bxp-summary-container {
    width: calc(25% - 15px);
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes slide-in {
  0% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slide-in {
  0% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0%);
  }
}
.colorpicker.fade-in {
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
}

.colorpicker.slide-in {
  -webkit-animation-name: slide-in;
  animation-name: slide-in;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
}

.colorpicker {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: inherit;
  position: fixed;
  display: none;
  border: 1px solid #e9ebee;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 3px;
}

.colorpicker.is-opened {
  display: inline-block;
  z-index: 9;
}

.colorpicker:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  box-sizing: border-box;
  border: 6px solid black;
  box-shadow: -1px 1px 1px 0 rgba(147, 157, 170, 0.23);
  transform-origin: 50% 50%;
}

.colorpicker-input + .colorpicker--inline,
.colorpicker-anchor + .colorpicker--inline {
  margin-top: 10px;
}

.colorpicker-circle-anchor {
  box-sizing: border-box;
  display: inline-block;
  line-height: 0;
}

.colorpicker-circle-anchor__color {
  line-height: 0;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.colorpicker-anchor--inline {
  display: block;
}

.colorpicker--position-top::after,
.colorpicker--position-top::before,
.colorpicker--position-top-center::after,
.colorpicker--position-top-center::before {
  margin-left: -3px;
  bottom: -6px;
  left: 50%;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
}

.colorpicker--position-bottom::after,
.colorpicker--position-bottom-center::after {
  margin-left: -3px;
  top: -6px;
  bottom: auto;
  left: 50%;
  border-color: transparent transparent #fff #fff;
  transform: rotate(135deg);
}

.colorpicker--position-top.is-arrow-left::after,
.colorpicker--position-bottom.is-arrow-left::after {
  left: 18px;
  right: auto;
}

.colorpicker--position-top.is-arrow-right::after,
.colorpicker--position-bottom.is-arrow-right::after {
  left: auto;
  right: 18px;
}

.colorpicker--position-left::after,
.colorpicker--position-left-center::after {
  margin-top: -3px;
  left: auto;
  bottom: auto;
  right: -6px;
  top: 50%;
  border-color: transparent transparent #fff #fff;
  transform: rotate(225deg);
}

.colorpicker--position-right::after,
.colorpicker--position-right-center::after {
  margin-top: -3px;
  left: -6px;
  bottom: auto;
  right: auto;
  top: 50%;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-315deg);
}

.colorpicker--position-left.is-arrow-top::after,
.colorpicker--position-right.is-arrow-top::after {
  top: 18px;
  bottom: auto;
}

.colorpicker--position-left.is-arrow-bottom::after,
.colorpicker--position-right.is-arrow-bottom::after {
  top: auto;
  bottom: 18px;
}

.colorpicker--inline {
  position: static;
  box-shadow: none;
  display: inline-block;
}

.colorpicker--inline:after {
  display: none;
}

.colorpicker--no-arrow:after {
  opacity: 0;
}

.colorpicker-input {
  position: relative;
  display: block;
}

.colorpicker-input--position-right .colorpicker-custom-anchor {
  right: 10px;
}

.colorpicker-input--position-right input,
.colorpicker-input--position-right .form-control {
  padding-right: 42px;
}

.colorpicker-input--position-left .colorpicker-custom-anchor {
  left: 10px;
}

.colorpicker-input--position-left input,
.colorpicker-input--position-left .form-control {
  padding-left: 42px;
}

.colorpicker-input .colorpicker-custom-anchor {
  position: absolute;
  top: 50%;
  margin-top: -13px;
  display: block;
}

.colorpicker-input .colorpicker-circle-anchor__color {
  width: 26px;
  height: 26px;
}

input + .colorpicker--inline,
select + .colorpicker--inline,
textarea + .colorpicker--inline {
  margin-top: 10px;
}

.colorpicker-default {
  height: auto;
  width: 308px;
  padding: 9px 9px 7px 9px;
}

.colorpicker-default__body {
  display: flex;
}

.colorpicker-default__spectrum-container {
  width: 230px;
  height: 230px;
  position: relative;
  box-sizing: border-box;
  border-radius: 3px;
}

.colorpicker-default__spectrum-canvas {
  width: 230px;
  height: 230px;
  border-radius: 3px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.colorpicker-default__spectrum-cursor,
.colorpicker-default__hue-cursor,
.colorpicker-default__opacity-cursor {
  border: 2px solid #fff;
  width: 13px;
  height: 13px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  cursor: default;
  box-sizing: border-box;
}

.colorpicker-default__hue-cursor,
.colorpicker-default__opacity-cursor {
  left: calc(50% - 7px);
  top: 50%;
}

.colorpicker-default__hue-container,
.colorpicker-default__opacity-container {
  width: 19px;
  height: 230px;
  border-radius: 3px;
  margin-left: 10px;
  position: relative;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.colorpicker-default__hue-canvas,
.colorpicker-default__opacity-canvas {
  width: 19px;
  height: 230px;
  border-radius: 3px;
}

.colorpicker-default--hex-only .colorpicker-default__opacity-container {
  display: none;
}

.colorpicker-default--hex-only {
  width: 279px;
}

.colorpicker-default--hex-only .colorpicker-default__spectrum-container,
.colorpicker-default--hex-only .colorpicker-default__spectrum-canvas {
  width: 230px;
}

.colorpicker-default--hex-only .colorpicker-default__r-input-container,
.colorpicker-default--hex-only .colorpicker-default__g-input-container,
.colorpicker-default--hex-only .colorpicker-default__b-input-container,
.colorpicker-default--hex-only .colorpicker-default__a-input-container,
.colorpicker-default--hex-only .colorpicker-default__hex-text {
  display: none;
}

.colorpicker-default--hex-only .colorpicker-default__hex-input-container,
.colorpicker-default--hex-only .colorpicker-default__hex-input {
  width: 100%;
  margin-right: 0;
}

.colorpicker-default--hex-only .colorpicker-default__history {
  padding-right: 1px;
}

.colorpicker-default__info {
  display: flex;
  padding: 14px 0 0 0;
}

.colorpicker-default__info--hidden {
  display: none;
}

.colorpicker-default__hex-input-container,
.colorpicker-default__r-input-container,
.colorpicker-default__g-input-container,
.colorpicker-default__b-input-container,
.colorpicker-default__a-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 9px;
}

.colorpicker-default__hex-input,
.colorpicker-default__r-input,
.colorpicker-default__g-input,
.colorpicker-default__b-input,
.colorpicker-default__a-input {
  box-sizing: border-box;
  width: 44px;
  height: 36px;
  border: 1px solid #d3d9dd;
  border-radius: 3px;
  color: #000;
  padding: 6px 8px;
  font-size: 14px;
  transition: border 0.2s ease-in-out;
  background: #fff;
}

.colorpicker-default__hex-input:-ms-input-placeholder,
.colorpicker-default__r-input:-ms-input-placeholder,
.colorpicker-default__g-input:-ms-input-placeholder,
.colorpicker-default__b-input:-ms-input-placeholder,
.colorpicker-default__a-input:-ms-input-placeholder {
  color: #939daa;
}

.colorpicker-default__hex-input::-moz-placeholder, .colorpicker-default__r-input::-moz-placeholder, .colorpicker-default__g-input::-moz-placeholder, .colorpicker-default__b-input::-moz-placeholder, .colorpicker-default__a-input::-moz-placeholder {
  color: #939daa;
}

.colorpicker-default__hex-input:-ms-input-placeholder, .colorpicker-default__r-input:-ms-input-placeholder, .colorpicker-default__g-input:-ms-input-placeholder, .colorpicker-default__b-input:-ms-input-placeholder, .colorpicker-default__a-input:-ms-input-placeholder {
  color: #939daa;
}

.colorpicker-default__hex-input::placeholder,
.colorpicker-default__r-input::placeholder,
.colorpicker-default__g-input::placeholder,
.colorpicker-default__b-input::placeholder,
.colorpicker-default__a-input::placeholder {
  color: #939daa;
}

.colorpicker-default__hex-input:focus,
.colorpicker-default__r-input:focus,
.colorpicker-default__g-input:focus,
.colorpicker-default__b-input:focus,
.colorpicker-default__a-input:focus {
  border-color: #0094f2;
  box-shadow: none;
  outline: none;
}

.colorpicker-default__hex-input {
  width: 76px;
}

.colorpicker-default__hex-text,
.colorpicker-default__r-text,
.colorpicker-default__g-text,
.colorpicker-default__b-text,
.colorpicker-default__a-text {
  text-transform: uppercase;
  font-size: 14px;
  color: #939daa;
  margin-top: 8px;
}

.colorpicker-default__history {
  border-top: 1px solid #e9ebee;
  padding: 15px;
  margin: -9px;
  margin-top: 9px;
  display: flex;
  flex-wrap: wrap;
  padding-right: 5px;
  padding-bottom: 5px;
}

.colorpicker-default__history.is-hidden {
  display: none;
}

.colorpicker-default__history-item {
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  background: #EEF1F5;
  margin-right: 10px;
  margin-bottom: 10px;
}

.colorpicker-default__history-item.is-empty {
  border-color: transparent;
}

.colorpicker-default__history-item.is-add-new {
  text-align: center;
  cursor: pointer;
  position: relative;
  background: #dfe5ec url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAA7SURBVHjaYvz//z9Dy6RlDFDwH0oz1uRFQRjNE5cyIAG4ApgAEwMBwIKkC5tJxJnAiM8NjIR8QdAKwABr3RPEnLgHwwAAAABJRU5ErkJggg==") center center no-repeat;
  width: 16px;
  height: 16px;
  border: none;
}

.colorpicker-default__history-item.is-add-new:hover {
  background-color: #d5dde6;
}

.bxp-selling-group {
  margin-bottom: 15px;
  font-size: 20px;
}

.bxp-selling-desc {
  font-size: 14px;
}

.bxp-reset {
  width: auto;
  border: none;
  color: #fff;
  text-decoration: none;
  transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -webkit-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  cursor: pointer;
  font-weight: 400;
  outline: none;
  text-align: center;
  background: #463b36;
  font-size: 12px;
  line-height: 1;
  padding: 6px 18px;
  position: absolute;
  right: 20px;
  margin-top: -32px;
}

.slideout-panel {
  will-change: auto;
}

.datepicker {
  display: none;
}

.datepicker.active {
  display: block;
}

.datepicker-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  padding-top: 4px;
}

.datepicker-dropdown.datepicker-orient-top {
  padding-top: 0;
  padding-bottom: 4px;
}

.datepicker-picker {
  display: inline-block;
  border-radius: 4px;
  background-color: white;
}

.datepicker-dropdown .datepicker-picker {
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.datepicker-picker span {
  display: block;
  flex: 1;
  border: 0;
  border-radius: 4px;
  cursor: default;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.datepicker-main {
  padding: 2px;
}

.datepicker-footer {
  box-shadow: inset 0 1px 1px rgba(10, 10, 10, 0.1);
  background-color: whitesmoke;
}

.datepicker-controls,
.datepicker-view,
.datepicker-view .days-of-week,
.datepicker-grid {
  display: flex;
}

.datepicker-grid {
  flex-wrap: wrap;
}

.datepicker-view .dow,
.datepicker-view .days .datepicker-cell {
  flex-basis: 14.28571%;
}

.datepicker-view.datepicker-grid .datepicker-cell {
  flex-basis: 25%;
}

.datepicker-view .week,
.datepicker-cell {
  height: 2.25rem;
  line-height: 2.25rem;
}

.datepicker-title {
  box-shadow: inset 0 -1px 1px rgba(10, 10, 10, 0.1);
  background-color: whitesmoke;
  padding: 0.375rem 0.75rem;
  text-align: center;
  font-weight: 700;
}

.datepicker-header .datepicker-controls {
  padding: 2px 2px 0;
}

.datepicker-controls .button {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 0;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  box-shadow: none;
  background-color: white;
  cursor: pointer;
  padding: calc(0.375em - 1px) 0.75em;
  height: 2.25em;
  vertical-align: top;
  text-align: center;
  line-height: 1.5;
  white-space: nowrap;
  color: #363636;
  font-size: 1rem;
}

.datepicker-controls .button:focus,
.datepicker-controls .button:active {
  outline: none;
}

.datepicker-controls .button:hover {
  border-color: #b5b5b5;
  color: #363636;
}

.datepicker-controls .button:focus {
  border-color: #3273dc;
  color: #363636;
}

.datepicker-controls .button:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}

.datepicker-controls .button:active {
  border-color: #4a4a4a;
  color: #363636;
}

.datepicker-controls .button[disabled] {
  cursor: not-allowed;
}

.datepicker-header .datepicker-controls .button {
  border-color: transparent;
  font-weight: bold;
}

.datepicker-header .datepicker-controls .button:hover {
  background-color: #f9f9f9;
}

.datepicker-header .datepicker-controls .button:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.25);
}

.datepicker-header .datepicker-controls .button:active {
  background-color: #f2f2f2;
}

.datepicker-header .datepicker-controls .button[disabled] {
  box-shadow: none;
}

.datepicker-footer .datepicker-controls .button {
  margin: calc(0.375rem - 1px) 0.375rem;
  border-radius: 2px;
  width: 100%;
  font-size: 0.75rem;
}

.datepicker-controls .view-switch {
  flex: auto;
}

.datepicker-controls .prev-btn,
.datepicker-controls .next-btn {
  padding-right: 0.375rem;
  padding-left: 0.375rem;
  width: 2.25rem;
}

.datepicker-controls .prev-btn.disabled,
.datepicker-controls .next-btn.disabled {
  visibility: hidden;
}

.datepicker-view .dow {
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 0.875rem;
  font-weight: 700;
}

.datepicker-view .week {
  width: 2.25rem;
  color: #b5b5b5;
  font-size: 0.75rem;
}

@media (max-width: 22.5rem) {
  .datepicker-view .week {
    width: 1.96875rem;
  }
}
.datepicker-grid {
  width: 15.75rem;
}

@media (max-width: 22.5rem) {
  .calendar-weeks + .days .datepicker-grid {
    width: 13.78125rem;
  }
}
.datepicker-cell:not(.disabled):hover {
  background-color: #f9f9f9;
  cursor: pointer;
}

.datepicker-cell.focused:not(.selected) {
  background-color: #e8e8e8;
}

.datepicker-cell.selected,
.datepicker-cell.selected:hover {
  background-color: #3273dc;
  color: #fff;
  font-weight: 600;
}

.datepicker-cell.disabled {
  color: #dbdbdb;
}

.datepicker-cell.prev:not(.disabled),
.datepicker-cell.next:not(.disabled) {
  color: #7a7a7a;
}

.datepicker-cell.prev.selected,
.datepicker-cell.next.selected {
  color: #e6e6e6;
}

.datepicker-cell.highlighted:not(.selected):not(.range):not(.today) {
  border-radius: 0;
  background-color: whitesmoke;
}

.datepicker-cell.highlighted:not(.selected):not(.range):not(.today):not(.disabled):hover {
  background-color: #eeeeee;
}

.datepicker-cell.highlighted:not(.selected):not(.range):not(.today).focused {
  background-color: #e8e8e8;
}

.datepicker-cell.today:not(.selected) {
  background-color: #00d1b2;
}

.datepicker-cell.today:not(.selected):not(.disabled) {
  color: #fff;
}

.datepicker-cell.today.focused:not(.selected) {
  background-color: #00c4a7;
}

.datepicker-cell.range-start:not(.selected),
.datepicker-cell.range-end:not(.selected) {
  background-color: #b5b5b5;
  color: #fff;
}

.datepicker-cell.range-start.focused:not(.selected),
.datepicker-cell.range-end.focused:not(.selected) {
  background-color: #afafaf;
}

.datepicker-cell.range-start {
  border-radius: 4px 0 0 4px;
}

.datepicker-cell.range-end {
  border-radius: 0 4px 4px 0;
}

.datepicker-cell.range {
  border-radius: 0;
  background-color: #dbdbdb;
}

.datepicker-cell.range:not(.disabled):not(.focused):not(.today):hover {
  background-color: #d5d5d5;
}

.datepicker-cell.range.disabled {
  color: #c2c2c2;
}

.datepicker-cell.range.focused {
  background-color: #cfcfcf;
}

.datepicker-view.datepicker-grid .datepicker-cell {
  height: 4.5rem;
  line-height: 4.5rem;
}

.datepicker-input.in-edit {
  border-color: #2366d1;
}

.datepicker-input.in-edit:focus,
.datepicker-input.in-edit:active {
  box-shadow: 0 0 0.25em 0.25em rgba(35, 102, 209, 0.2);
}

.bxp-complete-gif {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

div[data-steptype=content] .bb-step-content {
  display: block;
}

#bb-paginate-spinner {
  display: none;
  width: 100%;
  height: 80px;
  margin-top: 20px;
  text-align: center;
}

.active-border {
  border: 1px solid #81a252;
  border-radius: 5px;
}

.animationDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.bb-owl-item.active,
.bb-owl-stage {
  width: auto;
}

.bb-bldr-item_price_round {
  border-radius: 20px;
}

.bb-bldr-qty-round {
  border-radius: 20px;
}

.bb-bldr-item label img {
  margin: 0 auto;
}

.model_box figure {
  margin: 0 0 1rem;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 30px;
}

#border_box {
  border: 1px solid #d9e1e6;
  padding: 25px;
  width: 100%;
  background-color: #fff;
  margin-top: 220px;
}

button.bxp-bldr-backward {
  margin-right: 5px;
}

.mt-15 {
  margin-top: 15px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

#PageContainer {
  transform: none;
}

.d-none {
  display: none !important;
}

.mx-hieght-30 {
  max-height: 30px !important;
}

.bb-bldr-item .tick {
  width: 22px;
  height: 22px;
  line-height: 30px;
  border-radius: 50%;
  margin-left: auto;
  margin-bottom: 15px;
  top: 18px;
  position: absolute;
  right: 20px;
}
.bb-bldr-item .tick svg {
  fill: #fff;
  width: 15px;
  height: 15px;
}

@media (max-width: 1300px) {
  #bxp-bldr-details_bt {
    top: -2px;
  }

  #bxp-bldr-price_total span {
    font-size: 18px;
  }

  #bxp-bldr-price_total h3 {
    font-size: 20px;
  }

  a#bxp-bldr-details_bt {
    margin-left: 5px;
  }
}
.bxp-sel-left:before {
  left: 25%;
}

.d-flex {
  display: flex;
}

.d-flex_custom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
